@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin margin {
    margin: auto;
}


#income {
    @include flexCenter();
    @include margin();
}

#expense {
    @include flexCenter();
    @include margin();
}

li {
    list-style: none;
}